*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: antiquewhite;
    padding: 10px;
    margin-top: 10px;
    
}
a{
    background-color: aquamarine;
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    padding: 10px;
}

h1{
    float: left;
}

nav{
    float: right;
}

/* fixing the hright error */
.clear{
    clear: both;
}

/* fixing the second hright error */
.clearfix::after{
    clear: both;
    content: " ";
    display: block;
}



